@font-face {
   font-family: 'msjh-boot-2';
   font-display: swap;
   src: url('file:///C:/Users/chinf/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-05-22_113244/fonts/msjh-boot-2/font.ttf');
}
